@charset "UTF-8";
/**
 *  Colors
 *
 *  @copyright Copyright (c) 2019-2020, Bit&Black
 *  @author Tobias Köngeter <hello@bitandblack.com>
 *  @link https://www.bitandblack.com
 */
:export {
  pantone-yellow-c: #ffdc00;
  pantone-yellow-012-c: #ffd500;
  pantone-orange-021-c: #ff5300;
  pantone-warm-red-c: #ff4737;
  pantone-red-032-c: #f8353d;
  pantone-rubine-red-c: #d80056;
  pantone-rhodamine-red-c: #e51693;
  pantone-purple-c: #bb30b6;
  pantone-violet-c: #2b0098;
  pantone-blue-072-c: #001b9e;
  pantone-reflex-blue-c: #001d88;
  pantone-process-blue-c: #0082c7;
  pantone-green-c: #00a988;
  pantone-black-c: #2d2925;
  pantone-yellow-0131-c: #fbf0a2;
  pantone-red-0331-c: #ffb1bb;
  pantone-magenta-0521-c: #f3b4da;
  pantone-violet-0631-c: #bb9cdb;
  pantone-blue-0821-c: #61cfe9;
  pantone-green-0921-c: #98e6d6;
  pantone-black-0961-c: #a1978d;
  pantone-801-c: #0098cc;
  pantone-802-c: #50d234;
  pantone-803-c: #ffe700;
  pantone-804-c: #ffad4e;
  pantone-805-c: #ff7475;
  pantone-806-c: #ff48b3;
  pantone-807-c: #ec33be;
  pantone-871-c: #88754f;
  pantone-872-c: #8a704d;
  pantone-873-c: #8a6d4b;
  pantone-874-c: #8e6f4d;
  pantone-875-c: #8b684f;
  pantone-876-c: #8f634a;
  pantone-877-c: #898c8c;
  pantone-medium-yellow-c: #ffd800;
  pantone-bright-orange-c: #ff6200;
  pantone-bright-red-c: #ff3f1d;
  pantone-strong-red-c: #d70053;
  pantone-pink-c: #dc2d96;
  pantone-medium-purple-c: #410c8b;
  pantone-dark-blue-c: #002b99;
  pantone-medium-blue-c: #0082c9;
  pantone-bright-green-c: #00ae8d;
  pantone-neutral-black-c: #222221;
  pantone-100-c: #ffea62;
  pantone-101-c: #ffe94b;
  pantone-102-c: #ffe100;
  pantone-103-c: #cda800;
  pantone-104-c: #b99800;
  pantone-105-c: #907b2a;
  pantone-7401-c: #fcdfa4;
  pantone-7402-c: #f2d798;
  pantone-7403-c: #f7d384;
  pantone-7404-c: #fdd740;
  pantone-7405-c: #fccd00;
  pantone-7406-c: #fdc400;
  pantone-7407-c: #d39f53;
  pantone-106-c: #ffe449;
  pantone-107-c: #ffe027;
  pantone-108-c: #ffdb00;
  pantone-109-c: #ffd000;
  pantone-110-c: #e4aa00;
  pantone-111-c: #b18900;
  pantone-112-c: #a28314;
  pantone-113-c: #ffe054;
  pantone-114-c: #ffdc41;
  pantone-115-c: #ffd829;
  pantone-116-c: #ffcc00;
  pantone-117-c: #d19600;
  pantone-118-c: #b38400;
  pantone-119-c: #8f7423;
  pantone-127-c: #fcda6c;
  pantone-128-c: #fed34e;
  pantone-129-c: #ffcf41;
  pantone-130-c: #fda700;
  pantone-131-c: #d78b00;
  pantone-132-c: #a97401;
  pantone-133-c: #70551c;
  pantone-1205-c: #ffdf8e;
  pantone-1215-c: #ffd773;
  pantone-1225-c: #ffc744;
  pantone-1235-c: #ffb81f;
  pantone-1245-c: #cf9215;
  pantone-1255-c: #b38320;
  pantone-1265-c: #8d6a25;
  pantone-120-c: #ffdb66;
  pantone-121-c: #ffd758;
  pantone-122-c: #ffcf41;
  pantone-123-c: #ffc62c;
  pantone-124-c: #f5aa00;
  pantone-125-c: #bc8400;
  pantone-126-c: #a37713;
  pantone-7548-c: #ffc500;
  pantone-7549-c: #ffb600;
  pantone-7550-c: #d88f00;
  pantone-7551-c: #bc8000;
  pantone-7552-c: #77521c;
  pantone-7553-c: #5d4521;
  pantone-7554-c: #4d3d2a;
  pantone-7555-c: #d99e12;
  pantone-7556-c: #bd8b20;
  pantone-7557-c: #a77d24;
  pantone-7558-c: #9d7226;
  pantone-7559-c: #956a2a;
  pantone-7560-c: #83632e;
  pantone-7561-c: #6e5c35;
  pantone-134-c: #ffd26e;
  pantone-135-c: #ffc558;
  pantone-136-c: #ffbe3d;
  pantone-137-c: #ffa300;
  pantone-138-c: #e77d00;
  pantone-139-c: #b66d05;
  pantone-140-c: #77521a;
  pantone-1345-c: #ffce84;
  pantone-1355-c: #ffc56d;
  pantone-1365-c: #ffb447;
  pantone-1375-c: #ff9d18;
  pantone-1385-c: #de7a00;
  pantone-1395-c: #a16019;
  pantone-1405-c: #734c1e;
  pantone-141-c: #fdc65e;
  pantone-142-c: #fabc48;
  pantone-143-c: #fcb336;
  pantone-144-c: #f78a00;
  pantone-145-c: #db7f00;
  pantone-146-c: #b06d12;
  pantone-147-c: #755a28;
  pantone-7408-c: #ffbe00;
  pantone-7409-c: #fdb327;
  pantone-7410-c: #ffad75;
  pantone-7411-c: #f1a65e;
  pantone-7412-c: #db8333;
  pantone-7413-c: #e78534;
  pantone-7414-c: #c76c15;
  pantone-7562-c: #c29a5f;
  pantone-7563-c: #df9b2d;
  pantone-7564-c: #e28903;
  pantone-7565-c: #d47b23;
  pantone-7566-c: #b46533;
  pantone-7567-c: #8f5530;
  pantone-7568-c: #7a5034;
  pantone-7569-c: #e18926;
  pantone-7570-c: #dc832b;
  pantone-7571-c: #cf7d31;
  pantone-7572-c: #bd7132;
  pantone-7573-c: #ad662a;
  pantone-7574-c: #a46937;
  pantone-7575-c: #875d32;
  pantone-712-c: #ffc999;
  pantone-713-c: #ffbd84;
  pantone-714-c: #ffa961;
  pantone-715-c: #ff8e2b;
  pantone-716-c: #f47900;
  pantone-717-c: #da5e00;
  pantone-718-c: #c64f00;
  pantone-148-c: #ffca8a;
  pantone-149-c: #ffc37c;
  pantone-150-c: #ffb35a;
  pantone-151-c: #ff8400;
  pantone-152-c: #ee7300;
  pantone-153-c: #c76c15;
  pantone-154-c: #a05817;
  pantone-155-c: #f7d19f;
  pantone-156-c: #f6bb7b;
  pantone-157-c: #f69f54;
  pantone-158-c: #f57724;
  pantone-159-c: #d86015;
  pantone-160-c: #a7531a;
  pantone-161-c: #653d21;
  pantone-1485-c: #ffaf60;
  pantone-1495-c: #ff8f14;
  pantone-1505-c: #ff6b00;
  pantone-1525-c: #c14900;
  pantone-1535-c: #9a460a;
  pantone-1545-c: #693817;
  pantone-1555-c: #ffba8e;
  pantone-1565-c: #ffa067;
  pantone-1575-c: #ff7f2e;
  pantone-1585-c: #ff6b09;
  pantone-1595-c: #df5f12;
  pantone-1605-c: #ab5521;
  pantone-1615-c: #90481f;
  pantone-162-c: #ffbf9e;
  pantone-163-c: #ff9f6d;
  pantone-164-c: #ff7f3e;
  pantone-165-c: #ff691c;
  pantone-166-c: #eb5400;
  pantone-167-c: #c6541b;
  pantone-168-c: #783a1c;
  pantone-7576-c: #e4864f;
  pantone-7577-c: #ea7e3d;
  pantone-7578-c: #e46a2d;
  pantone-7579-c: #e45929;
  pantone-7580-c: #c75230;
  pantone-7581-c: #8c4a34;
  pantone-7582-c: #6b4835;
  pantone-1625-c: #ffa487;
  pantone-1635-c: #ff8f6b;
  pantone-1645-c: #ff6d36;
  pantone-1655-c: #ff4e00;
  pantone-1665-c: #e64500;
  pantone-1675-c: #b1461e;
  pantone-1685-c: #893a20;
  pantone-169-c: #ffb4a9;
  pantone-170-c: #ff8670;
  pantone-171-c: #ff5d34;
  pantone-172-c: #ff480f;
  pantone-173-c: #d8481d;
  pantone-174-c: #9c3920;
  pantone-175-c: #6f3628;
  pantone-7583-c: #ce622d;
  pantone-7584-c: #c35626;
  pantone-7585-c: #b75a36;
  pantone-7586-c: #a75331;
  pantone-7587-c: #984b2d;
  pantone-7588-c: #814c36;
  pantone-7589-c: #604637;
  pantone-7590-c: #d9b49d;
  pantone-7591-c: #c97e5a;
  pantone-7592-c: #b95433;
  pantone-7593-c: #a4412a;
  pantone-7594-c: #823a2d;
  pantone-7595-c: #713e30;
  pantone-7596-c: #5f3c30;
  pantone-7597-c: #db4322;
  pantone-7598-c: #c64828;
  pantone-7599-c: #b93d23;
  pantone-7600-c: #93402c;
  pantone-7601-c: #86412a;
  pantone-7602-c: #7e4a31;
  pantone-7603-c: #6a412f;
  pantone-7604-c: #e8d6d3;
  pantone-7605-c: #e6bab2;
  pantone-7606-c: #de9289;
  pantone-7607-c: #c96c5f;
  pantone-7608-c: #ac493d;
  pantone-7609-c: #883a34;
  pantone-7610-c: #6c3431;
  pantone-7611-c: #e2bcae;
  pantone-7612-c: #ce9a8c;
  pantone-7613-c: #c0887d;
  pantone-7614-c: #a88074;
  pantone-7615-c: #8a6760;
  pantone-7616-c: #6d4c4b;
  pantone-7617-c: #5a3d3d;
  pantone-7520-c: #eebfae;
  pantone-7521-c: #c69a81;
  pantone-7522-c: #bd6b55;
  pantone-7523-c: #af5d55;
  pantone-7524-c: #aa5348;
  pantone-7525-c: #a26950;
  pantone-7526-c: #8f3b19;
  pantone-489-c: #f1c2b1;
  pantone-488-c: #f3b9a8;
  pantone-487-c: #f2a692;
  pantone-486-c: #f3917b;
  pantone-485-c: #e62919;
  pantone-484-c: #a13322;
  pantone-483-c: #682f24;
  pantone-176-c: #ffb3b8;
  pantone-177-c: #ff8489;
  pantone-178-c: #ff5b58;
  pantone-179-c: #e93f2e;
  pantone-180-c: #c53c31;
  pantone-181-c: #85332c;
  pantone-1765-c: #ffa6b4;
  pantone-1775-c: #ff909e;
  pantone-1785-c: #ff4d5c;
  pantone-1788-c: #f82b34;
  pantone-1795-c: #da2a2d;
  pantone-1805-c: #b62b2d;
  pantone-1815-c: #812728;
  pantone-1767-c: #ffb1bf;
  pantone-1777-c: #ff657c;
  pantone-1787-c: #fc3747;
  pantone-1797-c: #d33638;
  pantone-1807-c: #a93538;
  pantone-1817-c: #663333;
  pantone-7618-c: #cf6e4f;
  pantone-7619-c: #c84b36;
  pantone-7620-c: #c1322c;
  pantone-7621-c: #b52328;
  pantone-7622-c: #99282b;
  pantone-7623-c: #922b2a;
  pantone-7624-c: #89302d;
  pantone-7625-c: #ec503c;
  pantone-7626-c: #ce3724;
  pantone-7627-c: #ae2f29;
  pantone-7628-c: #a52d2a;
  pantone-7629-c: #713432;
  pantone-7630-c: #673330;
  pantone-7631-c: #5b2f2d;
  pantone-7415-c: #ebb9a5;
  pantone-7416-c: #ef6a52;
  pantone-7417-c: #ea4c36;
  pantone-7418-c: #d35557;
  pantone-7419-c: #b54e59;
  pantone-7420-c: #a0233f;
  pantone-7421-c: #6a1c31;
  pantone-182-c: #ffbdca;
  pantone-183-c: #ff9cb0;
  pantone-184-c: #ff5673;
  pantone-185-c: #ef0028;
  pantone-186-c: #d3162c;
  pantone-187-c: #af1c2c;
  pantone-188-c: #7c262f;
  pantone-196-c: #efc8cd;
  pantone-197-c: #ef9cac;
  pantone-198-c: #ea4760;
  pantone-199-c: #e00031;
  pantone-200-c: #c60d2f;
  pantone-201-c: #a62335;
  pantone-202-c: #8c2531;
  pantone-189-c: #fea5ba;
  pantone-190-c: #fd7898;
  pantone-191-c: #f6456b;
  pantone-192-c: #f00f44;
  pantone-193-c: #c8153b;
  pantone-194-c: #a12a41;
  pantone-195-c: #7b303d;
  pantone-1895-c: #f9b7cc;
  pantone-1905-c: #fb9dba;
  pantone-1915-c: #f7507f;
  pantone-1925-c: #ea004a;
  pantone-1935-c: #cd003b;
  pantone-1945-c: #ad0f3b;
  pantone-1955-c: #8f1635;
  pantone-705-c: #f9dbdf;
  pantone-706-c: #f9d0d7;
  pantone-707-c: #fcb7c3;
  pantone-708-c: #ff94a3;
  pantone-709-c: #f76578;
  pantone-710-c: #ea4251;
  pantone-711-c: #d32e2e;
  pantone-698-c: #f6d5d6;
  pantone-699-c: #f9c4cb;
  pantone-700-c: #f8adb7;
  pantone-701-c: #e98695;
  pantone-702-c: #d95e71;
  pantone-703-c: #be3b48;
  pantone-704-c: #a52d2f;
  pantone-203-c: #efb3c8;
  pantone-204-c: #ec82a7;
  pantone-205-c: #e8457a;
  pantone-206-c: #d80035;
  pantone-207-c: #ad0032;
  pantone-208-c: #8d2140;
  pantone-209-c: #74273d;
  pantone-210-c: #fba0c6;
  pantone-211-c: #fa81b4;
  pantone-212-c: #f65495;
  pantone-213-c: #ea2674;
  pantone-214-c: #d61b66;
  pantone-215-c: #b01c56;
  pantone-216-c: #802444;
  pantone-7422-c: #f5ced2;
  pantone-7423-c: #e66685;
  pantone-7424-c: #e94b83;
  pantone-7425-c: #bb2652;
  pantone-7426-c: #ab173d;
  pantone-7427-c: #a01c2f;
  pantone-7428-c: #6e2c3d;
  pantone-7632-c: #d6c9c9;
  pantone-7633-c: #c9a5a8;
  pantone-7634-c: #c86983;
  pantone-7635-c: #cf3662;
  pantone-7636-c: #c7224a;
  pantone-7637-c: #972f45;
  pantone-7638-c: #832d40;
  pantone-217-c: #edbfda;
  pantone-218-c: #e96eae;
  pantone-219-c: #e01f81;
  pantone-220-c: #ac004f;
  pantone-221-c: #970247;
  pantone-222-c: #6f1e44;
  pantone-7639-c: #956d72;
  pantone-7640-c: #994154;
  pantone-7641-c: #932d47;
  pantone-7642-c: #752e49;
  pantone-7643-c: #6a2f44;
  pantone-7644-c: #5a2d3e;
  pantone-7645-c: #522b38;
  pantone-223-c: #f097cc;
  pantone-224-c: #ee73ba;
  pantone-225-c: #e52792;
  pantone-226-c: #d8006d;
  pantone-227-c: #af005f;
  pantone-228-c: #8c1255;
  pantone-229-c: #672143;
  pantone-230-c: #f6aad6;
  pantone-231-c: #f27ac2;
  pantone-232-c: #ec45a7;
  pantone-233-c: #cc007a;
  pantone-234-c: #a60163;
  pantone-235-c: #871352;
  pantone-670-c: #ecd3e0;
  pantone-671-c: #e8bdd7;
  pantone-672-c: #e0a0c7;
  pantone-673-c: #de88ba;
  pantone-674-c: #cb5898;
  pantone-675-c: #b42971;
  pantone-676-c: #9a044e;
  pantone-677-c: #e6ceda;
  pantone-678-c: #e7cad8;
  pantone-679-c: #debed0;
  pantone-680-c: #cc96b3;
  pantone-681-c: #b46d95;
  pantone-682-c: #9c4976;
  pantone-683-c: #7e2953;
  pantone-684-c: #e5c7d3;
  pantone-685-c: #ddb7c7;
  pantone-686-c: #d1a0b6;
  pantone-687-c: #bf85a2;
  pantone-688-c: #a96487;
  pantone-689-c: #8c3f67;
  pantone-690-c: #652540;
  pantone-510-c: #eec0c9;
  pantone-509-c: #ecb5c3;
  pantone-508-c: #e7acb9;
  pantone-507-c: #d793a7;
  pantone-506-c: #88374d;
  pantone-505-c: #712f3d;
  pantone-504-c: #592b32;
  pantone-7429-c: #e4bcc9;
  pantone-7430-c: #e0aabd;
  pantone-7431-c: #cc7f9b;
  pantone-7432-c: #bc5e80;
  pantone-7433-c: #ae3c63;
  pantone-7434-c: #a03458;
  pantone-7435-c: #8b284f;
  pantone-691-c: #eccdcd;
  pantone-692-c: #e7c0c3;
  pantone-693-c: #dda5ab;
  pantone-694-c: #c9868f;
  pantone-695-c: #ba6e7a;
  pantone-696-c: #9c4955;
  pantone-697-c: #8e3d45;
  pantone-496-c: #f3c7cd;
  pantone-495-c: #f5bec6;
  pantone-494-c: #eea5b1;
  pantone-493-c: #de8896;
  pantone-492-c: #943435;
  pantone-491-c: #843334;
  pantone-490-c: #602b2b;
  pantone-503-c: #ecc6c6;
  pantone-502-c: #e6bcc0;
  pantone-501-c: #dca5aa;
  pantone-500-c: #c8878c;
  pantone-499-c: #7d413a;
  pantone-498-c: #6b3833;
  pantone-497-c: #52302c;
  pantone-5035-c: #e1c2c1;
  pantone-5025-c: #ddb8ba;
  pantone-5015-c: #cfa3a6;
  pantone-5005-c: #b47d81;
  pantone-4995-c: #9d6266;
  pantone-4985-c: #8a4c52;
  pantone-4975-c: #422020;
  pantone-236-c: #f3abdc;
  pantone-237-c: #ef89cd;
  pantone-238-c: #e761bc;
  pantone-239-c: #de45ad;
  pantone-240-c: #c83297;
  pantone-241-c: #b42283;
  pantone-242-c: #83275e;
  pantone-2365-c: #f2bcdf;
  pantone-2375-c: #e279c8;
  pantone-2385-c: #d640b1;
  pantone-2395-c: #cc019c;
  pantone-2405-c: #b2008b;
  pantone-2415-c: #a0047c;
  pantone-2425-c: #870963;
  pantone-243-c: #ecbae2;
  pantone-244-c: #e79fda;
  pantone-245-c: #e083d1;
  pantone-246-c: #c930ae;
  pantone-247-c: #bd22a0;
  pantone-248-c: #a7238c;
  pantone-249-c: #832b6a;
  pantone-7646-c: #a86d85;
  pantone-7647-c: #ae4073;
  pantone-7648-c: #9c2062;
  pantone-7649-c: #8e1f5f;
  pantone-7650-c: #762557;
  pantone-7651-c: #6d2c5b;
  pantone-7652-c: #5f274f;
  pantone-250-c: #e8bbe4;
  pantone-251-c: #dd9ede;
  pantone-252-c: #cc68cd;
  pantone-253-c: #ad26a9;
  pantone-254-c: #992394;
  pantone-255-c: #74276c;
  pantone-517-c: #ecc7dd;
  pantone-516-c: #e8c1dc;
  pantone-515-c: #e2afd5;
  pantone-514-c: #d28dc4;
  pantone-513-c: #90398b;
  pantone-512-c: #823474;
  pantone-511-c: #612e4f;
  pantone-7436-c: #efdae8;
  pantone-7437-c: #ceafcf;
  pantone-7438-c: #d49fd6;
  pantone-7439-c: #b188b6;
  pantone-7440-c: #a378a5;
  pantone-7441-c: #9b61bf;
  pantone-7442-c: #9244bb;
  pantone-2562-c: #d6aae0;
  pantone-2572-c: #c78eda;
  pantone-2582-c: #ac55c4;
  pantone-2592-c: #972fb3;
  pantone-2602-c: #85239a;
  pantone-2612-c: #762a81;
  pantone-2622-c: #643163;
  pantone-7653-c: #968793;
  pantone-7654-c: #a5799a;
  pantone-7655-c: #a25c94;
  pantone-7656-c: #903c7e;
  pantone-7657-c: #6f2e62;
  pantone-7658-c: #6c365f;
  pantone-7659-c: #5e3854;
  pantone-524-c: #d6c4d7;
  pantone-523-c: #c9b1cd;
  pantone-522-c: #b99cc3;
  pantone-521-c: #a37faf;
  pantone-520-c: #62316b;
  pantone-519-c: #57325c;
  pantone-518-c: #4b3048;
  pantone-5245-c: #dcced2;
  pantone-5235-c: #d1bfc6;
  pantone-5225-c: #c6b0ba;
  pantone-5215-c: #b097a6;
  pantone-5205-c: #876679;
  pantone-5195-c: #684659;
  pantone-5185-c: #4c3140;
  pantone-5175-c: #dac7ce;
  pantone-5165-c: #d4c1cc;
  pantone-5155-c: #c1a6b8;
  pantone-5145-c: #9e7992;
  pantone-5135-c: #805675;
  pantone-5125-c: #6b3c5c;
  pantone-5115-c: #532c45;
  pantone-531-c: #e0cae7;
  pantone-530-c: #d7bae2;
  pantone-529-c: #c8a3db;
  pantone-528-c: #b483cf;
  pantone-527-c: #7b36a4;
  pantone-526-c: #6e3389;
  pantone-525-c: #562e5f;
  pantone-256-c: #d7bfdb;
  pantone-257-c: #c5a2cd;
  pantone-258-c: #8a4a97;
  pantone-259-c: #6c2676;
  pantone-260-c: #632864;
  pantone-261-c: #5c2a5d;
  pantone-262-c: #532b4f;
  pantone-2563-c: #c9a4d6;
  pantone-2573-c: #b886c9;
  pantone-2583-c: #9e62b4;
  pantone-2593-c: #803797;
  pantone-2603-c: #6d2780;
  pantone-2613-c: #642272;
  pantone-2623-c: #5d2264;
  pantone-7660-c: #9990a2;
  pantone-7661-c: #8e6f96;
  pantone-7662-c: #794280;
  pantone-7663-c: #693374;
  pantone-7664-c: #643677;
  pantone-7665-c: #5d386d;
  pantone-7666-c: #5b4e62;
  pantone-2567-c: #c0a3d8;
  pantone-2577-c: #a37ec9;
  pantone-2587-c: #7d4cad;
  pantone-2597-c: #54198b;
  pantone-2607-c: #4a1475;
  pantone-2617-c: #411265;
  pantone-2627-c: #381450;
  pantone-263-c: #d7c6e5;
  pantone-264-c: #bfaae1;
  pantone-265-c: #8867cb;
  pantone-266-c: #6a42bc;
  pantone-267-c: #552d9d;
  pantone-268-c: #523081;
  pantone-269-c: #4d306c;
  pantone-2635-c: #c1b5e0;
  pantone-2645-c: #a797d8;
  pantone-2655-c: #8a7ad0;
  pantone-2665-c: #7059c2;
  pantone-2685-c: #21066d;
  pantone-2695-c: #2a1c45;
  pantone-270-c: #b1b6df;
  pantone-271-c: #8f97d2;
  pantone-272-c: #6775be;
  pantone-273-c: #10185e;
  pantone-274-c: #131950;
  pantone-275-c: #171845;
  pantone-276-c: #1f1d34;
  pantone-2705-c: #9fa4dd;
  pantone-2715-c: #7d85d3;
  pantone-2725-c: #5461c6;
  pantone-2735-c: #000387;
  pantone-2745-c: #041070;
  pantone-2755-c: #0f1661;
  pantone-2765-c: #171845;
  pantone-7667-c: #697da0;
  pantone-7668-c: #5f6e9d;
  pantone-7669-c: #595e9a;
  pantone-7670-c: #4e5494;
  pantone-7671-c: #494686;
  pantone-7672-c: #424282;
  pantone-7673-c: #4b5485;
  pantone-7443-c: #dcdce8;
  pantone-7444-c: #b3badd;
  pantone-7445-c: #a4a3c1;
  pantone-7446-c: #8186c7;
  pantone-7447-c: #5d4a76;
  pantone-7448-c: #4a384b;
  pantone-7449-c: #42283a;
  pantone-7674-c: #848cb3;
  pantone-7675-c: #777fa9;
  pantone-7676-c: #6f669e;
  pantone-7677-c: #6b5290;
  pantone-7678-c: #644a8d;
  pantone-7679-c: #503e7f;
  pantone-7680-c: #4d3578;
  pantone-663-c: #e5e1e4;
  pantone-664-c: #e0dbe1;
  pantone-665-c: #c7bdd0;
  pantone-666-c: #a093b2;
  pantone-667-c: #78698e;
  pantone-668-c: #5e4d77;
  pantone-669-c: #3c2d56;
  pantone-5315-c: #d8d6dd;
  pantone-5305-c: #c6c5d2;
  pantone-5295-c: #b2b2c4;
  pantone-5285-c: #8a89a3;
  pantone-5275-c: #555476;
  pantone-5265-c: #3a3a5e;
  pantone-5255-c: #1b1b34;
  pantone-538-c: #c4d1da;
  pantone-537-c: #b9c8d7;
  pantone-536-c: #9fb3c8;
  pantone-535-c: #89a0bc;
  pantone-534-c: #0b365e;
  pantone-533-c: #1b2a44;
  pantone-532-c: #1b202a;
  pantone-7541-c: #dae1e1;
  pantone-7542-c: #a4bdc4;
  pantone-7543-c: #97a5ae;
  pantone-7544-c: #738692;
  pantone-7545-c: #3f5564;
  pantone-7546-c: #213746;
  pantone-7547-c: #121f29;
  pantone-552-c: #b8d3dc;
  pantone-551-c: #a0c7d3;
  pantone-550-c: #87b8c8;
  pantone-549-c: #63a4b9;
  pantone-548-c: #003b4c;
  pantone-547-c: #002f3b;
  pantone-546-c: #012a30;
  pantone-5455-c: #becfd5;
  pantone-5445-c: #b7c9d3;
  pantone-5435-c: #a5bcc9;
  pantone-5425-c: #7698aa;
  pantone-5415-c: #567f95;
  pantone-5405-c: #49758a;
  pantone-5395-c: #04202d;
  pantone-642-c: #d0dce3;
  pantone-643-c: #c3d4e0;
  pantone-644-c: #96b7d2;
  pantone-645-c: #74a0c2;
  pantone-646-c: #4f8ab2;
  pantone-647-c: #006292;
  pantone-648-c: #002f5d;
  pantone-649-c: #d9e1e7;
  pantone-650-c: #cbd9e4;
  pantone-651-c: #a2bcd4;
  pantone-652-c: #769dbf;
  pantone-653-c: #1b6394;
  pantone-654-c: #003c70;
  pantone-655-c: #002754;
  pantone-656-c: #dce3ea;
  pantone-657-c: #c4d7e9;
  pantone-658-c: #accae8;
  pantone-659-c: #6da5db;
  pantone-660-c: #097ec8;
  pantone-661-c: #003995;
  pantone-662-c: #001f70;
  pantone-7450-c: #bac4d8;
  pantone-7451-c: #7eace2;
  pantone-7452-c: #7396db;
  pantone-7453-c: #6da5db;
  pantone-7454-c: #558fb4;
  pantone-7455-c: #125fac;
  pantone-7456-c: #516eb0;
  pantone-2706-c: #c7d2e8;
  pantone-2716-c: #95aee2;
  pantone-2726-c: #1460c6;
  pantone-2736-c: #002daa;
  pantone-2746-c: #00248e;
  pantone-2756-c: #00236c;
  pantone-2766-c: #001d4d;
  pantone-2708-c: #b2cce9;
  pantone-2718-c: #3e89d8;
  pantone-2728-c: #004cba;
  pantone-2738-c: #00158a;
  pantone-2748-c: #001d6f;
  pantone-2758-c: #002060;
  pantone-2768-c: #001e48;
  pantone-2707-c: #c0d7ed;
  pantone-2717-c: #9dc5eb;
  pantone-2727-c: #0080e0;
  pantone-2747-c: #001f71;
  pantone-2757-c: #00215e;
  pantone-2767-c: #02294b;
  pantone-277-c: #a7cbe8;
  pantone-278-c: #80b9e8;
  pantone-279-c: #0090dd;
  pantone-280-c: #002367;
  pantone-281-c: #00225b;
  pantone-282-c: #001f41;
  pantone-283-c: #8ac2e9;
  pantone-284-c: #57abe2;
  pantone-285-c: #0073cc;
  pantone-286-c: #00379f;
  pantone-287-c: #003386;
  pantone-288-c: #002f73;
  pantone-289-c: #002340;
  pantone-7681-c: #8da8ca;
  pantone-7682-c: #5d87b6;
  pantone-7683-c: #2e6ea8;
  pantone-7684-c: #165e9c;
  pantone-7685-c: #015796;
  pantone-7686-c: #00518f;
  pantone-7687-c: #00458a;
  pantone-545-c: #c4dbe6;
  pantone-544-c: #bbd5e6;
  pantone-543-c: #9cc7e0;
  pantone-542-c: #73b0d3;
  pantone-541-c: #003d71;
  pantone-540-c: #003157;
  pantone-539-c: #002538;
  pantone-290-c: #b6daeb;
  pantone-291-c: #91ccea;
  pantone-292-c: #50b2e5;
  pantone-293-c: #0041a5;
  pantone-294-c: #00316d;
  pantone-295-c: #002a55;
  pantone-296-c: #001c2c;
  pantone-2905-c: #84c7e6;
  pantone-2915-c: #48b4e2;
  pantone-2925-c: #009dde;
  pantone-2935-c: #0058b6;
  pantone-2945-c: #004c96;
  pantone-2955-c: #003964;
  pantone-2965-c: #00263d;
  pantone-297-c: #5dc5e8;
  pantone-298-c: #00b7e5;
  pantone-299-c: #00a3df;
  pantone-300-c: #0060b8;
  pantone-301-c: #004b87;
  pantone-302-c: #003c5d;
  pantone-303-c: #002a3a;
  pantone-7688-c: #2198c9;
  pantone-7689-c: #008fc0;
  pantone-7690-c: #0075a7;
  pantone-7691-c: #006196;
  pantone-7692-c: #005585;
  pantone-7693-c: #004a76;
  pantone-7694-c: #00436a;
  pantone-2975-c: #90d7e9;
  pantone-2985-c: #3cc2e7;
  pantone-2995-c: #00aae1;
  pantone-3005-c: #0077c7;
  pantone-3015-c: #00629c;
  pantone-3025-c: #004f72;
  pantone-3035-c: #003f52;
  pantone-7695-c: #74a5b8;
  pantone-7696-c: #589aae;
  pantone-7697-c: #43879f;
  pantone-7698-c: #36748d;
  pantone-7699-c: #29657d;
  pantone-7700-c: #005c7d;
  pantone-7701-c: #005777;
  pantone-7457-c: #b6dbe3;
  pantone-7458-c: #69b3c9;
  pantone-7459-c: #2c97b3;
  pantone-7460-c: #0084c0;
  pantone-7461-c: #007cb8;
  pantone-7462-c: #00558a;
  pantone-7463-c: #002c49;
  pantone-304-c: #91dae8;
  pantone-305-c: #3dc9e6;
  pantone-306-c: #00b4e2;
  pantone-307-c: #006aa4;
  pantone-308-c: #00567b;
  pantone-309-c: #003b49;
  pantone-635-c: #9fdbe8;
  pantone-636-c: #80d3e5;
  pantone-637-c: #34c3e0;
  pantone-638-c: #00aed7;
  pantone-639-c: #0095c9;
  pantone-640-c: #0082bb;
  pantone-641-c: #0067a0;
  pantone-7702-c: #2da9c5;
  pantone-7703-c: #009bbe;
  pantone-7704-c: #0084ac;
  pantone-7705-c: #006e95;
  pantone-7706-c: #006b8f;
  pantone-7707-c: #00607e;
  pantone-7708-c: #005670;
  pantone-628-c: #b3dcdf;
  pantone-629-c: #93d1da;
  pantone-630-c: #6dc6d5;
  pantone-631-c: #14b0c7;
  pantone-632-c: #0093b3;
  pantone-633-c: #007498;
  pantone-634-c: #005e83;
  pantone-310-c: #58d1e3;
  pantone-311-c: #00c1dc;
  pantone-312-c: #00a7cd;
  pantone-313-c: #0090bd;
  pantone-314-c: #007fa4;
  pantone-315-c: #00657e;
  pantone-316-c: #004750;
  pantone-3105-c: #54d2df;
  pantone-3115-c: #00c0d6;
  pantone-3125-c: #00aec8;
  pantone-3135-c: #008cac;
  pantone-3145-c: #00768e;
  pantone-3155-c: #006071;
  pantone-3165-c: #004e59;
  pantone-7709-c: #59b0ba;
  pantone-7710-c: #00a5b4;
  pantone-7711-c: #0096a8;
  pantone-7712-c: #008299;
  pantone-7713-c: #007a89;
  pantone-7714-c: #00747f;
  pantone-7715-c: #006067;
  pantone-317-c: #aee4e3;
  pantone-318-c: #80dbde;
  pantone-319-c: #00cad2;
  pantone-320-c: #0098a7;
  pantone-321-c: #008995;
  pantone-322-c: #007078;
  pantone-323-c: #005e63;
  pantone-7464-c: #9ed0ca;
  pantone-7465-c: #35beac;
  pantone-7466-c: #00afbc;
  pantone-7467-c: #00a0ad;
  pantone-7468-c: #007397;
  pantone-7469-c: #005e84;
  pantone-7470-c: #00596f;
  pantone-7471-c: #78ddd4;
  pantone-7472-c: #54b8b3;
  pantone-7473-c: #089789;
  pantone-7474-c: #007581;
  pantone-7475-c: #40787a;
  pantone-7476-c: #005257;
  pantone-7477-c: #1e4c5a;
  pantone-5523-c: #b5cecf;
  pantone-5513-c: #a9c6c8;
  pantone-5503-c: #90b8bb;
  pantone-5493-c: #7aa8ad;
  pantone-5483-c: #46868d;
  pantone-5473-c: #005c66;
  pantone-5463-c: #01262c;
  pantone-7716-c: #009691;
  pantone-7717-c: #00827c;
  pantone-7718-c: #007573;
  pantone-7719-c: #006b67;
  pantone-7720-c: #00625d;
  pantone-7721-c: #005c5d;
  pantone-7722-c: #004e4f;
  pantone-324-c: #97dbd9;
  pantone-325-c: #5dccc9;
  pantone-326-c: #00afa9;
  pantone-327-c: #008274;
  pantone-328-c: #007268;
  pantone-329-c: #00665e;
  pantone-330-c: #00514c;
  pantone-3242-c: #66dbd5;
  pantone-3252-c: #00cfc8;
  pantone-3262-c: #00bbb3;
  pantone-3272-c: #00a29c;
  pantone-3282-c: #00837b;
  pantone-3292-c: #00574f;
  pantone-3302-c: #004c45;
  pantone-3245-c: #73ddd3;
  pantone-3255-c: #00d2c4;
  pantone-3265-c: #00c3b2;
  pantone-3275-c: #00b09b;
  pantone-3285-c: #009382;
  pantone-3295-c: #007666;
  pantone-3305-c: #004c42;
  pantone-3248-c: #6bccb9;
  pantone-3258-c: #42c4b2;
  pantone-3268-c: #00a88e;
  pantone-3278-c: #009777;
  pantone-3288-c: #008065;
  pantone-3298-c: #006752;
  pantone-3308-c: #004437;
  pantone-566-c: #b7dcd2;
  pantone-565-c: #9cd4c9;
  pantone-564-c: #80c9bd;
  pantone-563-c: #62baae;
  pantone-562-c: #006d61;
  pantone-561-c: #00594e;
  pantone-560-c: #1a3d35;
  pantone-573-c: #b1e1d7;
  pantone-572-c: #9fded1;
  pantone-571-c: #91dacd;
  pantone-570-c: #65c9ba;
  pantone-569-c: #00806e;
  pantone-568-c: #006a5a;
  pantone-567-c: #143e34;
  pantone-559-c: #b0cab8;
  pantone-558-c: #9cbeab;
  pantone-557-c: #86af99;
  pantone-556-c: #71a088;
  pantone-555-c: #2d6f4f;
  pantone-554-c: #225a40;
  pantone-553-c: #2a4634;
  pantone-5595-c: #becdc2;
  pantone-5585-c: #a7beb1;
  pantone-5575-c: #91aca0;
  pantone-5565-c: #7e9d91;
  pantone-5555-c: #5a7f70;
  pantone-5545-c: #42685b;
  pantone-5535-c: #17312a;
  pantone-5665-c: #bac4b8;
  pantone-5655-c: #b1bcae;
  pantone-5645-c: #a4b1a3;
  pantone-5635-c: #95a596;
  pantone-5625-c: #718371;
  pantone-5615-c: #5e7260;
  pantone-5605-c: #22372c;
  pantone-5527-c: #bcc9c5;
  pantone-5517-c: #afbfba;
  pantone-5507-c: #9cafab;
  pantone-5497-c: #839894;
  pantone-5487-c: #5d7774;
  pantone-5477-c: #3c5a57;
  pantone-5467-c: #19332f;
  pantone-621-c: #d0e1d7;
  pantone-622-c: #b6cbc1;
  pantone-623-c: #9abaae;
  pantone-624-c: #779e91;
  pantone-625-c: #4d7e70;
  pantone-626-c: #235c4e;
  pantone-627-c: #10312b;
  pantone-331-c: #a5e7d9;
  pantone-332-c: #86e2d1;
  pantone-333-c: #22d8c2;
  pantone-334-c: #009579;
  pantone-335-c: #007960;
  pantone-336-c: #006350;
  pantone-337-c: #8ed4bd;
  pantone-338-c: #6bcdb1;
  pantone-339-c: #00b28a;
  pantone-340-c: #00945f;
  pantone-341-c: #007853;
  pantone-342-c: #006648;
  pantone-343-c: #0d5641;
  pantone-7723-c: #4ea586;
  pantone-7724-c: #00946e;
  pantone-7725-c: #008455;
  pantone-7726-c: #00794c;
  pantone-7727-c: #006d46;
  pantone-7728-c: #006645;
  pantone-7729-c: #005745;
  pantone-3375-c: #74dfc0;
  pantone-3385-c: #3dd5ae;
  pantone-3395-c: #00bf8a;
  pantone-3405-c: #00ab69;
  pantone-3415-c: #00764b;
  pantone-3425-c: #006141;
  pantone-3435-c: #134633;
  pantone-344-c: #a1d9b3;
  pantone-345-c: #93d5ac;
  pantone-346-c: #70cb99;
  pantone-347-c: #009947;
  pantone-348-c: #008340;
  pantone-349-c: #0b6737;
  pantone-350-c: #2c5135;
  pantone-351-c: #a3e3b9;
  pantone-352-c: #8ee0b0;
  pantone-353-c: #7fdfa9;
  pantone-354-c: #00ad43;
  pantone-355-c: #00943c;
  pantone-356-c: #007835;
  pantone-357-c: #1f5532;
  pantone-7478-c: #97e1be;
  pantone-7479-c: #20cc7c;
  pantone-7480-c: #00bc72;
  pantone-7481-c: #00b453;
  pantone-7482-c: #009c4f;
  pantone-7483-c: #265d39;
  pantone-7484-c: #005740;
  pantone-7730-c: #4f9463;
  pantone-7731-c: #278549;
  pantone-7732-c: #007941;
  pantone-7733-c: #006d42;
  pantone-7734-c: #285f40;
  pantone-7735-c: #39573d;
  pantone-7736-c: #375442;
  pantone-7737-c: #73a43c;
  pantone-7738-c: #4fa042;
  pantone-7739-c: #399943;
  pantone-7740-c: #3e8f42;
  pantone-7741-c: #488841;
  pantone-7742-c: #4c753b;
  pantone-7743-c: #43673c;
  pantone-358-c: #b2db92;
  pantone-359-c: #a9d785;
  pantone-360-c: #76c04e;
  pantone-361-c: #4cad2e;
  pantone-362-c: #569c31;
  pantone-363-c: #528a2d;
  pantone-364-c: #4e752a;
  pantone-7485-c: #d4debc;
  pantone-7486-c: #c1df93;
  pantone-7487-c: #94dc68;
  pantone-7488-c: #7cd34d;
  pantone-7489-c: #79a852;
  pantone-7490-c: #78984c;
  pantone-7491-c: #7d833c;
  pantone-365-c: #c7de88;
  pantone-366-c: #bfdd7b;
  pantone-367-c: #abd45f;
  pantone-368-c: #81bc27;
  pantone-369-c: #6ca615;
  pantone-370-c: #6b8c1f;
  pantone-371-c: #586123;
  pantone-372-c: #daeb8f;
  pantone-373-c: #d4e982;
  pantone-374-c: #cbe56c;
  pantone-375-c: #a0d506;
  pantone-376-c: #8bba00;
  pantone-377-c: #80980b;
  pantone-378-c: #5e621f;
  pantone-580-c: #c8d4a4;
  pantone-579-c: #c2cf9b;
  pantone-578-c: #bccd96;
  pantone-577-c: #b1c380;
  pantone-576-c: #7e9a4a;
  pantone-575-c: #6e813c;
  pantone-574-c: #4f5930;
  pantone-5807-c: #d3d1aa;
  pantone-5797-c: #cbc99c;
  pantone-5787-c: #bdbb89;
  pantone-5777-c: #a6a367;
  pantone-5767-c: #8f8b4a;
  pantone-5757-c: #71702f;
  pantone-5747-c: #3f431d;
  pantone-5875-c: #d7cc9e;
  pantone-5865-c: #d1c795;
  pantone-5855-c: #c4b986;
  pantone-5845-c: #b5a96f;
  pantone-5835-c: #a69958;
  pantone-5825-c: #90813d;
  pantone-5815-c: #5a5025;
  pantone-5803-c: #c6c6a6;
  pantone-5793-c: #b7b895;
  pantone-5783-c: #a6a982;
  pantone-5773-c: #8c8e64;
  pantone-5763-c: #787a4d;
  pantone-5753-c: #636639;
  pantone-5743-c: #424728;
  pantone-7492-c: #c8cb81;
  pantone-7493-c: #c1c593;
  pantone-7494-c: #9eae88;
  pantone-7495-c: #95983f;
  pantone-7496-c: #7d8821;
  pantone-7497-c: #7c7156;
  pantone-7498-c: #5f6136;
  pantone-7744-c: #c2ba1c;
  pantone-7745-c: #b3ac28;
  pantone-7746-c: #9f9932;
  pantone-7747-c: #908c33;
  pantone-7748-c: #827f36;
  pantone-7749-c: #767236;
  pantone-7750-c: #686535;
  pantone-379-c: #e9e567;
  pantone-380-c: #e5e346;
  pantone-381-c: #d7d900;
  pantone-382-c: #cdd500;
  pantone-383-c: #b2ad00;
  pantone-384-c: #9d9300;
  pantone-385-c: #7d7021;
  pantone-386-c: #f3e96d;
  pantone-387-c: #ebe538;
  pantone-388-c: #eae628;
  pantone-389-c: #d8dd00;
  pantone-390-c: #bebc00;
  pantone-391-c: #9f9300;
  pantone-392-c: #897a0b;
  pantone-587-c: #eae38d;
  pantone-586-c: #e9e07c;
  pantone-585-c: #e6de71;
  pantone-584-c: #dcd657;
  pantone-583-c: #c2be1b;
  pantone-582-c: #968b15;
  pantone-581-c: #675c21;
  pantone-393-c: #f8eb74;
  pantone-394-c: #f8e93f;
  pantone-395-c: #f5e61f;
  pantone-396-c: #ebdf00;
  pantone-397-c: #c9b800;
  pantone-398-c: #b3a200;
  pantone-399-c: #a79000;
  pantone-3935-c: #fce75d;
  pantone-3945-c: #fde400;
  pantone-3955-c: #fbde00;
  pantone-3965-c: #f7db00;
  pantone-3975-c: #c6a700;
  pantone-3985-c: #9e8400;
  pantone-3995-c: #6e5d22;
  pantone-600-c: #f7e99b;
  pantone-601-c: #f7e68f;
  pantone-602-c: #f9e77c;
  pantone-603-c: #f9e04d;
  pantone-604-c: #f7da2b;
  pantone-605-c: #eacb00;
  pantone-606-c: #d8b300;
  pantone-607-c: #f2e39a;
  pantone-608-c: #f1e187;
  pantone-609-c: #eedb76;
  pantone-610-c: #e9d256;
  pantone-611-c: #e0c728;
  pantone-612-c: #ceaf00;
  pantone-613-c: #bc9b00;
  pantone-461-c: #f2df99;
  pantone-460-c: #eed680;
  pantone-459-c: #e5cb63;
  pantone-458-c: #e2c557;
  pantone-457-c: #c19d1a;
  pantone-456-c: #ab8e2c;
  pantone-455-c: #6e5924;
  pantone-614-c: #e2d59a;
  pantone-615-c: #dbcc8c;
  pantone-616-c: #d6c782;
  pantone-617-c: #c6b360;
  pantone-618-c: #b39d3d;
  pantone-619-c: #a5902b;
  pantone-620-c: #917a1b;
  pantone-7751-c: #d1b44c;
  pantone-7752-c: #d8ae24;
  pantone-7753-c: #caa121;
  pantone-7754-c: #a78429;
  pantone-7755-c: #907732;
  pantone-7756-c: #776737;
  pantone-7757-c: #6c5d33;
  pantone-7758-c: #dcc109;
  pantone-7759-c: #ceb200;
  pantone-7760-c: #97832d;
  pantone-7761-c: #797136;
  pantone-7762-c: #61643a;
  pantone-7763-c: #5c5b3c;
  pantone-7764-c: #565335;
  pantone-7765-c: #c3b225;
  pantone-7766-c: #bda923;
  pantone-7767-c: #b09b2e;
  pantone-7768-c: #917d35;
  pantone-7769-c: #746134;
  pantone-7770-c: #655837;
  pantone-7771-c: #4f4933;
  pantone-4545-c: #dacba0;
  pantone-4535-c: #d4c392;
  pantone-4525-c: #cbb784;
  pantone-4515-c: #b8a168;
  pantone-4505-c: #9d8342;
  pantone-4495-c: #927632;
  pantone-4485-c: #664e26;
  pantone-454-c: #d0c6a7;
  pantone-453-c: #c7bb99;
  pantone-452-c: #b6a87e;
  pantone-451-c: #a3925f;
  pantone-450-c: #5f4a27;
  pantone-449-c: #584628;
  pantone-448-c: #4d4029;
  pantone-7499-c: #f6e4b2;
  pantone-7500-c: #e4d0a5;
  pantone-7501-c: #ddc79d;
  pantone-7502-c: #d5b787;
  pantone-7503-c: #b09868;
  pantone-7504-c: #99785e;
  pantone-7505-c: #856140;
  pantone-468-c: #e1c9a2;
  pantone-467-c: #d9ba8b;
  pantone-466-c: #cca876;
  pantone-465-c: #c2965c;
  pantone-464-c: #935b29;
  pantone-463-c: #794d28;
  pantone-462-c: #61462c;
  pantone-7506-c: #f8dcb3;
  pantone-7507-c: #ffd299;
  pantone-7508-c: #e8b97f;
  pantone-7509-c: #dca360;
  pantone-7510-c: #cd8a3f;
  pantone-7511-c: #bd7627;
  pantone-7512-c: #ab6319;
  pantone-719-c: #f1c7a1;
  pantone-720-c: #ecb689;
  pantone-721-c: #e3a36d;
  pantone-722-c: #d18443;
  pantone-723-c: #b96b22;
  pantone-724-c: #994f11;
  pantone-725-c: #814115;
  pantone-475-c: #f7d0b2;
  pantone-474-c: #f8c8a7;
  pantone-473-c: #f9c09b;
  pantone-472-c: #ec9f6d;
  pantone-471-c: #c06225;
  pantone-470-c: #aa5a29;
  pantone-469-c: #6d4024;
  pantone-726-c: #e4c09d;
  pantone-727-c: #dfb38d;
  pantone-728-c: #d3a176;
  pantone-729-c: #bb8250;
  pantone-730-c: #a4662d;
  pantone-731-c: #7d4412;
  pantone-732-c: #663511;
  pantone-4685-c: #e5c7ad;
  pantone-4675-c: #e1c0a6;
  pantone-4665-c: #d2a888;
  pantone-4655-c: #c49473;
  pantone-4645-c: #b37d58;
  pantone-4635-c: #995f35;
  pantone-4625-c: #532d1e;
  pantone-7513-c: #e4b7a4;
  pantone-7514-c: #d9a284;
  pantone-7515-c: #cc8d67;
  pantone-7516-c: #9e552a;
  pantone-7517-c: #8b431c;
  pantone-7518-c: #704f47;
  pantone-7519-c: #614c3d;
  pantone-4755-c: #dac2b5;
  pantone-4745-c: #d1b6a8;
  pantone-4735-c: #c3a290;
  pantone-4725-c: #b48a78;
  pantone-4715-c: #9c6c58;
  pantone-4705-c: #814c3a;
  pantone-4695-c: #5f3428;
  pantone-482-c: #e0c8b6;
  pantone-481-c: #d9bba8;
  pantone-480-c: #caa790;
  pantone-479-c: #b28067;
  pantone-478-c: #773e2a;
  pantone-477-c: #683b2b;
  pantone-476-c: #513528;
  pantone-7527-c: #d7d1c3;
  pantone-7528-c: #c7b9ab;
  pantone-7529-c: #b8a998;
  pantone-7530-c: #a59382;
  pantone-7531-c: #7c6654;
  pantone-7532-c: #66513c;
  pantone-7533-c: #4a3829;
  pantone-7534-c: #d2cbbc;
  pantone-7535-c: #b9b09b;
  pantone-7536-c: #aaa088;
  pantone-7537-c: #a9ada1;
  pantone-7538-c: #949a90;
  pantone-7539-c: #8e8e88;
  pantone-7540-c: #494e53;
  pantone-427-c: #cfd2d2;
  pantone-428-c: #c3c7c8;
  pantone-429-c: #a2aaac;
  pantone-430-c: #7a868b;
  pantone-431-c: #5a6870;
  pantone-432-c: #2f3d47;
  pantone-433-c: #1b252b;
  pantone-420-c: #c9c9c8;
  pantone-421-c: #b1b4b2;
  pantone-422-c: #9ea1a1;
  pantone-423-c: #898c8c;
  pantone-424-c: #707371;
  pantone-425-c: #545859;
  pantone-426-c: #25282a;
  pantone-441-c: #bcc6c2;
  pantone-442-c: #9eaba9;
  pantone-443-c: #909e9d;
  pantone-444-c: #6e7c7c;
  pantone-445-c: #4c5757;
  pantone-446-c: #3e4644;
  pantone-447-c: #373a36;
  pantone-413-c: #bbb9ae;
  pantone-414-c: #aaa99e;
  pantone-415-c: #919187;
  pantone-416-c: #7f7f73;
  pantone-417-c: #66665d;
  pantone-418-c: #52534a;
  pantone-419-c: #202221;
  pantone-400-c: #c7c0b6;
  pantone-401-c: #b2aa9f;
  pantone-402-c: #9e948a;
  pantone-403-c: #8e857b;
  pantone-404-c: #786e63;
  pantone-405-c: #6b6259;
  pantone-406-c: #c7bcb5;
  pantone-407-c: #b1a6a0;
  pantone-408-c: #988c86;
  pantone-409-c: #887974;
  pantone-410-c: #766762;
  pantone-411-c: #61514e;
  pantone-412-c: #382e2c;
  pantone-434-c: #cfc4c3;
  pantone-435-c: #bfb3b5;
  pantone-436-c: #ab9a9d;
  pantone-437-c: #7a6568;
  pantone-438-c: #574544;
  pantone-439-c: #443634;
  pantone-440-c: #382e2c;
  pantone-warm-gray-1-c: #d7d1c8;
  pantone-warm-gray-2-c: #cec5bc;
  pantone-warm-gray-3-c: #c0b7ae;
  pantone-warm-gray-4-c: #b5aca4;
  pantone-warm-gray-5-c: #ada197;
  pantone-warm-gray-6-c: #a79c94;
  pantone-warm-gray-7-c: #988c83;
  pantone-warm-gray-8-c: #8d8278;
  pantone-warm-gray-9-c: #85776f;
  pantone-warm-gray-10-c: #7a6d65;
  pantone-warm-gray-11-c: #716359;
  pantone-cool-gray-1-c: #dbdad6;
  pantone-cool-gray-2-c: #d2d2ce;
  pantone-cool-gray-3-c: #c9c9c8;
  pantone-cool-gray-4-c: #bbbbba;
  pantone-cool-gray-5-c: #b3b3b2;
  pantone-cool-gray-6-c: #a8a9a9;
  pantone-cool-gray-7-c: #989999;
  pantone-cool-gray-8-c: #8a8c8e;
  pantone-cool-gray-9-c: #757779;
  pantone-cool-gray-10-c: #63666a;
  pantone-cool-gray-11-c: #525559;
  pantone-black-2-c: #332e1f;
  pantone-black-3-c: #222721;
  pantone-black-4-c: #31261c;
  pantone-black-5-c: #3f2b2f;
  pantone-black-6-c: #0e1920;
  pantone-black-7-c: #3d3834;
}

body {
  color: #121f29;
}

/*# sourceMappingURL=example.css.map */
